body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

th input {
  width: 90%;
}

.row-input-tanggal {
  width: 600px;
}

.navbar-light {
  /*background:linear-gradient(to bottom, #00c82b, #2cff5a, #66ff87, #c1ffcf, #fff);*/
  /*background:linear-gradient(to bottom, #a6ffa1, #b7ffb6, #e9ffe7);*/
  background:linear-gradient(to bottom, #a6ffa1, #b7ffb6);
}


@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@keyframes slideDown {
  0% {
    transform: translateY(-0.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-0.5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
}

/* Custom CSS for submenus */
.dropdown-submenu .dropdown-menu {
  position: absolute;
  top: 0; /* Adjust this value as needed */
  left: 100%; /* This value ensures the submenu is placed to the right of the parent */
  transform: translateX(0); /* Reset any translation */
}

/* Adjust submenu's first-level margin to align with menu text */
.dropdown-submenu > .nav-link {
  margin-bottom: 0; /* Reset margin to align properly */
}

a.active {
  font-weight: bolder;
}

li.active {
  background-color: rgb(124, 227, 141);
  border-radius: 20px;
}

.nav-link {
  font-weight: bold;
}