body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

th input {
  width: 90%;
}

.row-input-tanggal {
  width: 600px;
}

.navbar-light {
  /*background:linear-gradient(to bottom, #00c82b, #2cff5a, #66ff87, #c1ffcf, #fff);*/
  /*background:linear-gradient(to bottom, #a6ffa1, #b7ffb6, #e9ffe7);*/
  background:linear-gradient(to bottom, #a6ffa1, #b7ffb6);
}
}