.sidebar-dark-primary {
    background-color: rgb(20, 110, 20);
}
.brand-link {
    background-color: #f8f9fa !important;
}
.card-tools {
    padding-right: 10px;
}
.card-header {
    padding-top: 1rem;;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #28a745
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px; /* e.g. change 8x to 4px here */
}
table.dataTable tbody tr {
    height: 100px;
}
table.dataTable tfoot tr th input {
    width: 100%;
    border-radius: 0.2rem;
    padding: .25rem .5rem;
    border: 1px solid #ced4da;
    font-size: .875rem;
}
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    padding: 1rem 1rem;
}
#reader2 {
    border: 0px !important;
}
button.html5-qrcode-element {
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    border: 1px solid;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 2rem;

}
a.html5-qrcode-element {
    text-decoration: none !important;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: 400;
    border: 1px solid;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 2rem;
}