.sidebar-dark-primary {
    background-color: rgb(20, 110, 20);
}
.brand-link {
    background-color: #f8f9fa !important;
}
.card-tools {
    padding-right: 10px;
}
.card-header {
    padding-top: 1rem;;
}