.sidebar-dark-primary {
    background-color: rgb(20, 110, 20);
}
.brand-link {
    background-color: #f8f9fa !important;
}
.card-tools {
    padding-right: 10px;
}
.card-header {
    padding-top: 1rem;;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #28a745
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px; /* e.g. change 8x to 4px here */
}
table.dataTable tbody tr {
    height: 100px;
}
table.dataTable tfoot tr th input {
    width: 70px;
}