{% extends 'base2.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Scan QR Kartu Pengemudi</h1>
      </div>
      <div class="card-body text-center">
        <div id="reader2">tes</div>
      </div>
    </div>
  </div>

    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
    <script>
      function onScanSuccess(decodedText, decodedResult) {
        decodedResult = 'pengemudi/' + decodedText;
        location.replace(decodedResult);
      }

      var html5QrcodeScanner = new Html5QrcodeScanner(
          "reader2", { fps: 10, qrbox: 180 });
      html5QrcodeScanner.render(onScanSuccess);
    </script>
{% endblock content%}