{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Data Pengemudi</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
</head>
<body>
{% block content %}
 <div class="container">
   <h1>Daftar Pengemudi</h1>
   <div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>No</td>
                <td>Nama</td>
                <td>Foto</td>
                <td>Nik</td>
                <td>Pool</td>
                <td>Bus</td>
                <td>Edit?</td>
            </tr>
        </thead>
        <tbody>
            {% for pengemudi in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pengemudi.nama }}</td>
                    <td><img src="{% static '' %}{{ pengemudi.pasfoto_path}}" width="50"></td>
                    <td>{{ pengemudi.nik }}</td>
                    <td>{{ pengemudi.pool }}</td>
                    <td>{{ pengemudi.bus }}</td>
                    <td><a type="button" href="{% url 'pengemudi-update' %}{{ pengemudi.id }}" class="btn btn-secondary">edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
 </div>
{% endblock %}
<script type="text/javascript">
    function highlight() {
        var status = document.getElementById("status").placeholder;
        
        if (status == "Layak Jalan"){
            document.getElementById("status").style.backgroundColor = "rgb(151, 255, 151)"
        }
        else {
            document.getElementById("status").style.backgroundColor =  "tomato"
        }
    }
    highlight();
</script>
</body>
</html>