{% extends 'navigation.html' %}
{% load static %}
{% block content %}
 <div class="container">
   <h1>Daftar Pengemudi</h1>
   <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nama</td>
                    <td>Foto</td>
                    <td>Nik</td>
                    <td>Pool</td>
                    <td>Bus</td>
                    <td>Edit?</td>
                </tr>
            </thead>
            <tbody>
                {% for pengemudi in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ pengemudi.nama }}</td>
                        <td><img src="{% static '' %}{{ pengemudi.pasfoto_path}}" width="50"></td>
                        <td>{{ pengemudi.nik }}</td>
                        <td>{{ pengemudi.pool }}</td>
                        <td>{{ pengemudi.bus }}</td>
                        <td><a type="button" href="{% url 'pengemudi-update' %}{{ pengemudi.id }}" class="btn btn-secondary">edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}