{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Pengemudi</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
</head>
<body>
{% block content %}
 <div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="mb-3">
            <img src="{% static '' %}logo-damri.png">
        </div>
        <div class="mb-3">
            <label class="form-label" for="nama">Nama</label>
            <input class="form-control" id="nama" type="text" placeholder="{{ object.nama }}" data-sb-validations="" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="pool">Pool</label>
            <input class="form-control" id="pool" type="text" placeholder="{{ object.pool }}" data-sb-validations="" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="bus">Bus</label>
            <input class="form-control" id="bus" type="text" placeholder="{{ object.bus }}" data-sb-validations="" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="tanggalPeriksaTerkahir">Tanggal Periksa Terkahir</label>
            <input class="form-control" id="tanggalPeriksaTerkahir" type="text" placeholder="{{ object.periksa_terakhir }}" data-sb-validations="" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="status">Status</label>
            <input class="form-control" id="status" type="text" placeholder="{{ object.status }}" data-sb-validations="" />
        <div class="mb-3 text-center">
            <label class="form-label" for="qrCode">QR Code</label>
            <img class="" src="{% static '' %}{{ object.qrcode_path }}" />
        </div>
    </form>
 </div>
{% endblock %}
</body>
</html>