{% extends 'navigation.html' %}
{% load static %}
{% block content %}
 <div class="container">
    <h1>Update Data Pengemudi</h1>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table class="table table-borderless">
            <thead>
                <tr>
                    <td colspan="2">
                    </td>
                </tr>
            </thead>
            <tbody>
                {{ form.as_table }}
            </tbody>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="{% url 'pengemudi-list' %}"  class="btn btn-danger">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
 </div>
{% endblock %}