{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Pengemudi</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
</head>
<body>
{% block content %}
 <div class="container-fluid">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="card">
            <div class="card-header mb-3 text-center">
                <img src="{% static '' %}bus-logo-small.png" width="150" >
                <h2>Company Name</h2>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img src="{{ object.pasfoto.url }}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nama">Nama</label>
                    <input class="form-control" id="nama" type="text" value="{{ object.nama }}" data-sb-validations="" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pool">Pool</label>
                    <input class="form-control" id="pool" type="text" value="{{ object.pool }}" data-sb-validations="" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="bus">Bus</label>
                    <input class="form-control" id="bus" type="text" value="{{ object.bus }}" data-sb-validations="" disabled />
                </div>
                <div class="mb-3 text-center">
                    <label class="form-label" for="qrCode">QR Code</label>
                    <img class="form-label" src="{% url 'media' 'qrcodes' object.nik '.png'%}" width="80" />
                </div>
            </div>
        </div>
        
    </form>
 </div>
{% endblock %}
<script type="text/javascript">
    function highlight() {
        var status = document.getElementById("status").placeholder;
        
        if (status == "Layak Jalan"){
            document.getElementById("status").style.backgroundColor = "rgb(151, 255, 151)"
        }
        else {
            document.getElementById("status").style.backgroundColor =  "tomato"
        }
    }
    highlight();
</script>
</body>
</html>