{% extends 'navigation.html' %}
{% load static %}
{% block content %}
 <div class="container">
     <div class="row mb-3">
         <div class="col md-8">
             <h1>Daftar Pengemudi</h1>
         </div>
         <div class="col md-4 text-end">
             <a href="{% url 'pengemudi-create' %}" type="button" class="btn btn-primary">+Tambah Pengemudi</a>
         </div>
     </div>
   <div>
        <table class="table table-striped table-hover" id="masterTable">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nama</td>
                    <td>Foto</td>
                    <td>Nik</td>
                    <td>Pool</td>
                    <td>Bus</td>
                    <td>Edit?</td>
                    <td>Kartu</td>
                </tr>
            </thead>
            <tbody>
                {% for pengemudi in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'pengemudi-detail' pengemudi.nik %}" style="text-decoration:none" class="link-dark">{{ pengemudi.nama }}</td>
                        <td><img src="{{ pengemudi.pasfoto.url }}" width="50"></td>
                        <td>{{ pengemudi.nik }}</td>
                        <td>{{ pengemudi.pool }}</td>
                        <td>{{ pengemudi.bus }}</td>
                        <td><a type="button" href="{% url 'pengemudi-update' %}{{ pengemudi.id }}" class="btn btn-secondary">edit</a></td>
                        <td><a type="button" href="{% url 'print-id' %}{{ pengemudi.nik }}" class="btn btn-primary">eCard</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready( function () {
    $('#masterTable').DataTable( {
        "pageLength": 5
        } );
    } );
</script>
{% endblock %}