{% extends 'navigation.html' %}
{% load static %}
{% block content %}
 <div class="container">
    <h1>Input Data Pengemudi</h1>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table class="table table-borderless">
            <thead>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody>
                {{ form.as_table }}
            </tbody>
            <tr>
                <td>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="{% url 'pengemudi-list' %}"  class="btn btn-danger">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
 </div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#id_tanggal_lahir" ).datepicker({
    dateFormat: 'yy-mm-dd',
    });
  } );
</script>
<script>
    let nik = document.getElementById('nik').value;
    document.getElementById('nik').onchange = function() {fillQRpath()};
    console.log('nik = ', nik);
    function fillQRpath() {
        nik = document.getElementById('nik').value;
        console.log('function fillQRpath executed')
        document.getElementById('qrpath').value = nik + ".png";
    }
</script>
{% endblock %}