{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Pengemudi</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
</head>
<body>
{% block content %}
 <div class="container-fluid">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="card">
            <div class="card-header mb-3 text-center">
                <img src="{% static 'logo-sps-damri-small.jpg' %}" width="100" >
                <h2>Klinik SPS - DAMRI</h2>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img src="{{ object.pasfoto.url }}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nama">Nama</label>
                    <input class="form-control" id="nama" type="text" value="{{ object.nama }}" data-sb-validations="" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pool">Pool</label>
                    <input class="form-control" id="pool" type="text" value="{{ object.pool }}" data-sb-validations="" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="bus">Bus</label>
                    <input class="form-control" id="bus" type="text" value="{{ object.bus }}" data-sb-validations="" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="tanggalPeriksaTerakhir">Tanggal Periksa Terakhir</label>
                    <input class="form-control" id="tanggalPeriksaTerakhir" type="text" value="{{ object.periksa_terakhir }}" data-sb-validations="" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="status">Status</label>
                    <input class="form-control" id="status" type="text" placeholder="{{ object.get_status_display }}" data-sb-validations="" disabled style="" />
                </div>
                <div class="row mb-2">
                    <div class="col sm-10">
                        <!--button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Detail Pemeriksaan Terakhir</butto-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#history">History Pemeriksaan</button>
                    </div>
                    <div class="col sm-4">
                        <button type="button" class="btn btn-danger" onclick="window.history.go(-1); return false;">Kembali</button>
                    </div>
                </div>
            </div>         
        </div>
    </form>
 </div>
<!-- Pemeriksaan Terakhir -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pemeriksaan Terakhir</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
                {{ konteks.management_form }}
                {% for form in konteks.forms %}
                {% if forloop.first %}
                    <div class="mb3">
                        {% for field in form.visible_fields %}
                        <label class="form-label">{{ field.label|capfirst }}</label>
                            {{ field.errors.as_ul }}
                            {{ field }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- History -->
<div class="modal fade bd-example-modal-xl" id="history" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">History Pemeriksaan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Sistolik</th>
                        <th scope="col">Diastolik</th>
                        <th scope="col">Suhu</th>
                        <th scope="col">Jam Tidur</th>
                        <th scope="col">Gula Darah</th>
                        <th scope="col">Kolesterol</th>
                        <th scope="col">Alkohol</th>
                        <th scope="col">Kondisi</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pemeriksaan_list %}
                    {% for cek in pemeriksaan_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cek.tanggal }}</td>
                        <td>{{ cek.sistolik }}</td>
                        <td>{{ cek.diastolik }}</td>
                        <td>{{ cek.suhu }}</td>
                        <td>{{ cek.jam_tidur}}</td>
                        <td>{{ cek.gula_darah }}</td>
                        <td>{{ cek.kolesterol }}</td>
                        <td>{{ cek.alkohol }}</td>
                        <td>{{ cek.kondisi}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<script type="text/javascript">
    function highlight() {
        var status = document.getElementById("status").placeholder;
        
        if (status == "Layak Jalan"){
            document.getElementById("status").style.backgroundColor = "rgb(151, 255, 151)"
        }
        else {
            document.getElementById("status").style.backgroundColor =  "tomato"
        }
    }
    highlight();
</script>
</body>
</html>