
{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container">
    <h1>Input Data Pengemudi</h1>
    <form action="" method="post">
    {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody>
                {{ form.as_table }}
            </tbody>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="{% url 'pengemudi-list' %}"  class="btn btn-danger">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
 </div>
<script type="text/javascript">
    function highlight() {
        var status = document.getElementById("status").placeholder;
        
        if (status == "Layak Jalan"){
            document.getElementById("status").style.backgroundColor = "rgb(151, 255, 151)"
        }
        else {
            document.getElementById("status").style.backgroundColor =  "tomato"
        }
    }
    highlight();
</script>
{% endblock %}