{% extends 'navigation.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Report Pemeriksaan Harian</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tanggal</th>
              <th scope="col">Pengemudi</th>
              <th scope="col">Sistolik</th>
              <th scope="col">Diastolik</th>
              <th scope="col">Suhu</th>
              <th scope="col">Jam Tidur</th>
              <th scope="col">Gula Darah</th>
              <th scope="col">Kolesterol</th>
              <th scope="col">Alkohol</th>
              <th scope="col">Kondisi</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          {% for pemeriksaan in object_list %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ pemeriksaan.pengemudi }}</td>
            <td>{{ pemeriksaan.tanggal }}</td>
            <td>{{ pemeriksaan.sistolik }}</td>
            <td>{{ pemeriksaan.diastolik }}</td>
            <td>{{ pemeriksaan.suhu }}</td>
            <td>{{ pemeriksaan.jam_tidur }}</td>
            <td>{{ pemeriksaan.gula_darah }}</td>
            <td>{{ pemeriksaan.kolesterol }}</td>
            <td>{{ pemeriksaan.alkohol }}</td>
            <td>{{ pemeriksaan.kondisi }}</td>
            <td>{{ pemeriksaan.status }}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}