{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Report Pemeriksaan Harian</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Beranda</a></li>
          <li class="breadcrumb-item active">Report Pemeriksaan Harian</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Pilih Tanggal</h3>
      <div class="card-tools">
        <div class="input-group">
          <form action="" method="get">
            {% csrf_token %}
            <div class="form-group row">
              <label for="fromDate" class="col-form-label form-label">Dari</label>
              <div class="col">
                <input type="date" pattern="\d{4}-\d{2}-\d{2}" class="form-control" id="fromDate" name="fromDate"
                  placeholder="dd-mm-yyyy" aria-label="From date" value="{{ request.GET.fromDate }}">
              </div>
              <label for="toDate" class="col-form-label form-label">s/d</label>
              <div class="col">
                <input type="date" pattern="\d{4}-\d{2}-\d{2}" class="form-control" id="toDate" name="toDate"
                  placeholder="To date" aria-label="To date" value="{{ request.GET.toDate }}">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive p-0" style="height: 400px;">
      <table class="table table-head-fixed table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tanggal | Jam</th>
            <th scope="col">Pengemudi</th>
            <th scope="col">Pool</th>
            <th scope="col">Sistolik</th>
            <th scope="col">Diastolik</th>
            <th scope="col">Suhu</th>
            <th scope="col">Jam Tidur</th>
            <th scope="col">Gula Darah</th>
            <th scope="col">Kolesterol</th>
            <th scope="col">Alkohol</th>
            <th scope="col">Kondisi</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        {% for pemeriksaan in object_list %}
        <tr>
          <th>{{ forloop.counter }}</th>
          <td>{{ pemeriksaan.tanggal|date:"d-m-Y | H:i" }}</td>
          <td>{{ pemeriksaan.pengemudi }}</td>
          <td>{{ pemeriksaan.pengemudi.pool }}</td>
          <td class="text-center">{{ pemeriksaan.sistolik }}</td>
          <td class="text-center">{{ pemeriksaan.diastolik }}</td>
          <td class="text-center">{{ pemeriksaan.suhu }}</td>
          <td class="text-center">{{ pemeriksaan.jam_tidur }}</td>
          <td class="text-center">{{ pemeriksaan.gula_darah }}</td>
          <td class="text-center">{{ pemeriksaan.kolesterol }}</td>
          <td class="text-center">{{ pemeriksaan.alkohol }}</td>
          <td>{{ pemeriksaan.kondisi }}</td>
          <td>{{ pemeriksaan.get_status_display }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="card-footer">
      <h6 class="float-left">Total Record: {{ object_list|length }}</h6>
      <form class="float-right" action="{% url 'export_to_xls' %}" method="get">
        <input type="hidden" name="fromDate" value="{{ fromDate }}">
        <input type="hidden" name="toDate" value="{{ toDate }}">
        <button type="submit" class="btn btn-success"><i class="fa-regular fa-file-excel"></i> Export to Excel</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}